__pycache__/
.vscode/

# ignore important token files.
token files/token_calendar_v3.pickle
.env
*.json
*.pem

# ignore dirver folders but exist only zip files.
driver/

# ignore files
*.cmd
*.lock

# ignore Pipfiles
Pipfile
Pipfile.lock
